{{#extend "default"}} {{#content "main"}}

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
    <a class="device-notification--logo" href="#0">
        <img src="{{logo.image}}" alt="{{logo.title}}">
        <p>{{logo.title}}</p>
    </a>
    <p class="device-notification--message">{{logo.name}}</p>
</div>

<div class="perspective effect-rotate-left">
    <div class="container">
        <div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
            <div class="l-wrapper">
                <header class="header">
                    <a class="header--logo" href="#0">
                        <img src="{{head.image}}" alt="{{head.title}}">
                        <p>{{heade.title}}</p>
                    </a>
                    <button class="header--cta cta">{{head.btn}}</button>
                    <div class="header--nav-toggle">
                        <span></span>
                    </div>
                </header>

                <nav class="l-side-nav">
                    <ul class="side-nav">
                        {{#each nav}}
                        <li class="{{class}}"><span>{{title}}</span></li>
                        {{/each}}


                    </ul>
                </nav>
                <ul class="l-main-content main-content">

                    <li class="l-section section section--is-active">
                        <div class="intro">

                            <div class="intro--banner">
                                <h1>{{{intro.title}}}</h1>
                                <button class="cta">{{intro.btn.title}}
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="{{intro.btn.transform}}">
                    <path d="{{intro.btn.d}}"/>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>
                                <img src="{{intro.image}}" alt="Welcome">
                            </div>
                            <div class="intro--options">
                                {{#each intro.options}}
                                <a href="{{url}}">
                                    <h3>{{title}}</h3>
                                    <p>{{name}}</p>
                                </a>
                                {{/each}}
                            </div>
                        </div>
                    </li>
                    <li class="l-section section">
                        <div class="work">
                            
                            <h2>{{work.title}}</h2>
                            <div class="work--lockup">
                                <ul class="slider">
                                    {{#each work.slider}}
                                       <li class="{{class}}">
                                        <a href="{{url}}">
                                            <div class="slider--item-image">
                                                <img src="{{image}}" alt="Victory">
                                            </div>
                                            <p class="slider--item-title">{{title}}</p>
                                            <p class="slider--item-description">{{name}}</p>
                                        </a>
                                    </li>  
                                    {{/each}}
                                    
                                </ul>
                             {{#each work.items}}
                               <div class="{{class}}">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="{{transform}}">
                    <path d="{{d}}"/>
                  </g>
                  </svg>
                                </div>
                             {{/each}}
                                
                               
                            </div>
                        </div>
                    </li>

                    <li class="l-section section">
                        <div class="about">
                            
                            <div class="about--banner">
                                <h2>{{{about.title}}}</h2>
                                <a href="{{about.url}}">{{about.name}}
                  <span>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="{{about.transform}}">
                      <path d="{{about.d}}"/>
                    </g>
                    </svg>
                  </span>
                </a>
                                <img src="{{about.image}}" alt="About Us">
                            </div>
                            <div class="about--options">
                                {{#each about.items}}
                                  <a href="{{url}}">
                                    <h3>{{title}}</h3>
                                </a>  
                                {{/each}}
                                
                            </div>
                        </div>
                    </li>

                    <li class="l-section section">
                        <div class="contact">
                            <div class="contact--lockup">
                                <div class="modal">
                                      
                                         <div class="modal--information">
                                        <p>{{contact.title}}</p>
                                        <a href="{{contact.urlG}}">{{contact.nameG}}</a>
                                        <a href="{{contact.urlP}}">{{contact.nameP}}</a>
                                    </div>
                                    <ul class="modal--options">
                                        {{#each contact.items}}
                                        <li><a href="{{url}}">{{titles}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="l-section section">
                        <div class="hire">
                            <h2>{{hire.title}}</h2>
                            <!-- checkout formspree.io for easy form setup -->
                           
                    <form class="work-request">
                        <div class="work-request--options">
                    <span class="options-a">
                     {{#each hire.optionsA}}
                         <input id="{{id}}" type="checkbox" value="{{value}}">
                    <label for="{{id}}">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="{{transform}}">
                        <path d="{{d}}"/>
                      </g>
                      </svg>
                      {{title}}
                    </label>
                     {{/each}}
                    </span>
                                    <span class="options-b">

                                {{#each hire.optionsB}}
                         <input id="{{id}}" type="checkbox" value="{{value}}">
                    <label for="{{id}}">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="{{transform}}">
                        <path d="{{d}}"/>
                      </g>
                      </svg>
                      {{title}}
                    </label>
                     {{/each}}
                  </span>
                 </div>
      
                                      

                                      <div class="work-request--information">
                                    <div class="information-name">
                                        <input id="name" type="{{informationName.type}}" spellcheck="{{informationName.spellcheck}}">
                                        <label for="name">{{informationName.label}}</label>
                                    </div>
                                    <div class="information-email">
                                        <input id="email" type="{{informationEmail.type}}" spellcheck="{{informationEmail.spellcheck}}">
                                        <label for="email">{{informationEmail.label}}</label>
                                    </div>
                                </div>
                                <input type="submit" value="Send Request">
                            </form>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <ul class="outer-nav">
        {{#each outerNav}}
        <li class="{{class}}">{{title}}</li>
        {{/each}}
        
    </ul>
</div>
{{/content}} {{/extend}}